<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                            http://www.springframework.org/schema/aop
                            http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!--  Initialize Service Objects -->
    <bean id="subjectService" class="org.akaza.openclinica.service.subject.SubjectService">
        <constructor-arg ref="sessionManager"/>
    </bean>

    <bean id="databaseCctsService" class="org.akaza.openclinica.ws.logic.DatabaseCctsService">
        <property name="subjectService" ref="subjectService"/>
        <property name="waitBeforeCommit" value="s[ccts.waitBeforeCommit]"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

</beans>